# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Temporary and cache folders
.npm-cache
.tmp

# Secrets
public/secrets.php
.env

# Data sheets
*.xlsx

5d102eeb-72a7-46b7-a903-ddc6b69d64c0.pdf
